@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
*, 
*::before, 
*::after {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}


body { max-width: 700px; }

body {
  color: #555;
  max-width: 80ch;
  font-family: "Helvetica", "Arial", sans-serif;
  padding: 2em 1em;
}

h1::first-letter{
  color:#ff8A00;
}

h1 { font-size: 50px; font-family: "Delicious Handrawn", cursive;}

h1,h2,h3,p { margin-top: 10px;}

pre { font-size: small; }
