@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body { max-width: 800px; }

body {
  xcolor: #555;
  color: #2d;  
  max-width: 80ch;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding: 2em 1em;
}

h1::first-letter{ color:#ff8A00; }

h1 { color: #658291; padding-top:0px; 
     margin-top:0px; font-size: 90px; font-family: "Delicious Handrawn", cursive;}

pre {  padding-left: 10px; border-left: solid 2px #CCC; font-size: small; }

h2 { padding: 3px; color:white; background-color:  #658291; }
